#header {
  padding: 24px 365px;
  display: flex;
  justify-content: space-between;
  background: transparent;
  position: relative;
  z-index: 3;
}

#header > img {
  width: 148px;
  height: 40px;
}

#right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 24px;
}

#select-container {
  width: 137px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 1px solid white;
  position: relative;
}

#select-container > img {
  width: 16px;
  aspect-ratio: 1/1;
  position: absolute;
  left: 15px;
}

#header-right-select {
  padding: 6px 36px;
  border: none;
}
