*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#root {
  background: black;
  color: white;
}

/* .row {
  border: 1px solid red;
} */

h1 {
  font-size: 3em !important;
}

p {
  font-size: 1.5rem;
}

#hero-container {
  background-image: url(./components/media/background.jpg);
  background-position-x: 50%;
  background-position-y: 64%;
  background-size: 125%;
  height: 700px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

#hero-container > div:last-child {
  justify-content: center;
  margin-top: 170px;
}

#tint {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgb(0 0 0 / 40%);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
  z-index: -1;
}

.content-box {
  padding: 4.5rem 0;
  border-top: 8px solid rgb(35, 35, 35);
}
