*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#root {
  background: black;
  color: white;
}

h1 {
  font-size: 3em !important;
  font-weight: 800 !important;
  margin: 10px 0 !important;
}

p {
  font-size: 1.5rem !important;
  font-weight: 400 !important;
}

#hero-container {
  background-image: url(./components/media/background.jpg);
  background-position-x: 50%;
  background-position-y: 64%;
  background-size: 125%;
  height: 700px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

#hero-container > div:last-child {
  justify-content: center;
  margin-top: 170px;
}

#tint {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgb(0 0 0 / 40%);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
  z-index: -1;
}

.contentBox {
  padding: 4.5rem 0;
  border-top: 8px solid rgb(35, 35, 35);
}

.videoBox {
  position: relative;
}

.videoBox > img {
  position: relative;
  z-index: 1;
}

.videoBox > video {
  position: absolute;
  top: 20%;
  left: 13%;
  width: 85%;
  z-index: 0;
  overflow: hidden !important;
}

.mac > video {
  top: 10%;
  left: 17%;
  width: 65% !important;
}

#phoneContainer {
  position: relative;
}

#phoneContainer > div {
  position: absolute;
  border-radius: 12px;
  border: 2px solid rgba(128, 128, 128, 0.7);
  width: 55%;
  height: 23%;
  top: 70%;
  left: 22%;
  background-color: black;
  display: flex;
  justify-content: space-around;
  padding: 10px 8px;
}

#phoneContainer > div > div {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

#phoneContainer > div > div > p:first-child {
  font-weight: 500;
  font-size: 1rem !important;
  margin: 0;
}
#phoneContainer > div > div > p:last-child {
  font-size: 0.875rem !important;
  color: #0071eb;
  margin: 0;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2em !important;
    font-weight: 700 !important;
    margin: 0 !important;
    text-align: center;
    margin: 1rem 0 !important;
  }

  p {
    font-size: 1.125rem !important;
    font-weight: 400 !important;
    text-align: center;
  }
  #hero-container {
    height: 512px !important;
  }
  #hero-container > div:last-child {
    justify-content: center;
    margin-top: 61px;
  }
  .videoBox > video {
    position: absolute;
    top: 20%;
    left: 12%;
    width: 70%;
  }

  .mac > video {
    top: 10%;
    left: 17%;
    width: 57% !important;
  }
  #hero-container {
    background-size: 150%;
  }
  .contentBox {
    padding: 3rem 0;
  }
  #phoneContainer > div {
    width: 52%;
    left: 20%;
  }
}

@media (max-width: 425px) {
  #hero-container > div:last-child {
    justify-content: center;
    margin-top: 15px;
  }
  h1 {
    font-weight: 700 !important;
  }
  .videoBox > video {
    position: absolute;
    top: 20%;
    left: 13%;
    width: 73%;
  }

  .mac > video {
    top: 11%;
    left: 17%;
    width: 65% !important;
  }
  #hero-container {
    background-size: 200%;
  }
  #phoneContainer > div {
    width: 70%;
    left: 15%;
  }
}
